#start-text {
  display: flex;
  background-color: black;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Consolas, monaco, monospace;
  font-size: 50px;
  padding-left: 15rem;
  padding-right: 15rem;

}

#start-button {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Consolas, monaco, monospace;
  padding-left: 15rem;
  padding-right: 15rem;

}