
<span> {{currentStep}}</span>
<span> {{$any(currentAction).nextStep}}</span>
<span *ngFor="let decision of $any(currentAction).decision">{{decision.nextStep}}/</span>
<div id="content">
  <div>
    <div id="image-view" (click)="nextStep()">
      <img src={{currentAction?.image}}>
    </div>
    <div id="decision-wrapper">
      <div *ngIf="isActionDecision()" id="decision">
        <span *ngFor="let decision of $any(currentAction).decision; let i = index">
          <button class="decision-button" (click)="decide(i)">{{decision.text}}</button>
        </span>
      </div>
    </div>
    <div id="view">
      <div id="text-box" (click)="nextStep()">
        <div id="typewriter">
          {{showText}}
        </div>
      </div>
    </div>
    <div id="life-bar">
      <span #life [ngStyle]="barStyle" id="bar">
        
      </span>
    </div>
  </div>
  <div *ngIf="showPopup" id="popup-wrapper">
  </div>
  <div *ngIf="showPopup" id="popup" (click)="showPopup=false">
    {{currentAction!.text}}
  </div>
  
</div>
