#view {
  padding: 3rem;

  #text-box {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border:solid 7px #41403E;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Consolas, monaco, monospace;
    min-height: 70px;
    font-size: 25px;
    color: #41403E;
  }
}

#image-view {
  height: 70vh;
  display: flex;
  justify-content: center;
  img {
    height: 100%;
  }
}

#life-bar {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  height: 50px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 8px #41403E;
  
  #bar {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #41403E;

  }
}

#decision-wrapper {
  height: 80px;
  #decision {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
  
    .decision-button {
      align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      transition:all .5s ease;
      color:#41403E;
      font-size:2rem;
      letter-spacing:1px;
      outline:none;
      box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border:solid 7px #41403E;
    
      &:hover{
        box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
     } 
    }
  }
}



#content {
  max-height: 100vh;
}