
<div id="content">
  <div>
    <div id="image-view">
      <div  (click)="nextStep()">
        <img src="../../assets/pic/fashion.png">
      </div>
      <div (click)="nextStep()">
        <img src="../../assets/pic/sport.png">
      </div>
      <div (click)="nextStep()">
        <img src="../../assets/pic/music.png">
      </div>
    </div>
    <div id="decision-wrapper">
    </div>
    <div id="view">
      <div id="text-box">
        <div id="typewriter">
          {{showText}}
        </div>
      </div>
    </div>
    <div id="life-bar">
      <span #life [ngStyle]="barStyle" id="bar">
        
      </span>
    </div>
  </div>
  
</div>
